.icon-wrapper{

    background: white;
    text-align: center;
    border-radius: 100%;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    border-style: none;
   
}

